{% extends "users/base.html" %}
{% block content %}
    {% load static %}
    <div class="container">
        <form method="POST">
            {% csrf_token %}
            <div class="container-flex2">
                <div class="m-auto container-flex">
                    <a class="m-0" href="{% url 'home' %}"><img class="logo" src="{% static 'users/sandwich_logo.png' %}"></a>
                    <a class="m-0" href="{% url 'home' %}"><h2 class="title m-0">Uniwhich</h2></a>
                </div>
                <h2>Register Here!</h2>
                {{ form }}
                <button class="primary-btn" type="submit">Register</button>
            </div>
        </form>
    </div>
{% endblock content %}