{% extends "users/base.html" %}
{% block content %}
    {% load static %}
    <div class="container container-flex">
        <img class="login-image" src="{% static 'users/sandwich.jpg' %}" alt="login">
        <form method="POST">
            {% csrf_token %}
            <div class="container-flex2">
                <h2>Log In</h2>
                {{ form }}
                <button class="primary-btn" type="submit">Login</button>
            </div>
        </form>
    </div>
{% endblock content %}