@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Pacifico:wght@100;200;400&display=swap');
@import url("https://pro.fontawesome.com/releases/v5.10.0/css/all.css");
:root {
    --primary-color: #906CCF; /* #49AD17;*/ 
    --secondary-color: #191C21;
    --teriary-color: #6A6A6A;
    --font-color: white;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--secondary-color);
    height: 100vh;
    overflow-anchor: none;
    color: var(--font-color);
}

a {
    text-decoration: none;
    color: var(--font-color);
    cursor: pointer;
}

img {
    display: block;
}

ul {
    padding: 0;
    list-style: none;
}

nav {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

button:hover {
    cursor: pointer;
}

form {
    margin: 2em;
}

.m-auto {
    margin: auto !important;
}

.m-0 {
    margin: 0 !important;
}

.main {
    height: calc(100vh - 100px);
}

.container {
    margin: auto;
    border-radius: 5px;
    background-color: var(--teriary-color);
}

.container-flex {
    display: flex;
    align-items: center;
}

.container-flex2 {
    display: flex;
    flex-direction: column;
}

.container-center {
    justify-content: center;
}

.container-space-between {
    justify-content: space-between;
}

.link {
    text-decoration: none;
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}

.logo {
    object-fit: cover;
    height: 50px;
    width: 50px;
    margin-right: 0.5em;
    
}

.title {
    font-family: 'Pacifico', cursive;
    font-weight: 200;
    color: #14327D;
    text-decoration: underline;
}

/* Header & Footer */
.header {
    background-color: var(--primary-color);
    height: 60px;
    padding: 1em;
}

.navbar {
    margin-left: auto;
}

.header a {
    margin: 0 1em;
}

.footer {
    background-color: var(--teriary-color);
    height: 40px;
    padding: 1em;
}

.contact-us{
    margin-left: auto;
    height: inherit;
}

.contact-us p {
    margin-left: 3em;
}

/* Sidebar */
.sidebar {
    height: calc(100vh - 60px);
    width: 20%;
    background-color: var(--teriary-color);
    padding: 2em;
}

/* Form */
form input {
    padding: 0.5em;
    margin-bottom: 1em;
    border-radius: 5px;
    border: 1px solid var(--secondary-color);
}

form h2 {
    margin: 0.5em auto;
}

.primary-btn {
    background-color: var(--primary-color);
    border-radius: 5px;
    border: 1px solid var(--secondary-color);
    padding: 0.5em;
}

.primary-btn:hover {
    opacity: 0.8;
}

/* Images */

.main-image {
    object-fit: cover;
    width: 600px;
    height: 400px;
    border-radius: 5px;
}

.grow { 
    transition: all .2s ease-in-out; 
}

.grow:hover { 
    transform: scale(1.1); 
}

.menu-image {
    height: 80vh;
    width: 60%;
    margin: auto;
}

/* Home */

.home-button {
    border-radius: 5px;
    background-color: var(--primary-color);
    text-align: center;
    margin: 0 1em;
}